asgiref
Cython
Django
greenlet
joblib
mkl-service
packaging
pandas
patsy
pillow
pmdarima
PyMySQL
python-dateutil
pytz
scikit-learn
scipy
six
SQLAlchemy
sqlparse
statsmodels
threadpoolctl
typing_extensions
tzdata
urllib3
pypinyin
numpy<=1.26.4
