<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}" />
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
	</head>
	<body>
		<div>
			<table class="tanle table-borsered" id="table_page"
				data-pagination="true"
				data-side-pagination="client"
				data-page-size=10>
			</table>
		</div>
	</body>
</html>
<script>
	var data={
		"编号":[1,2,3],
		"姓名":["张三","李四","王五"],
		"年龄":[15,18,25],
		"地址":["青岛市李沧区xxx路xxx号","青岛市市南区xxx路xxx号","青岛阳崂山区xxx路xxx号"],
		"联系电话":["135xxxxxxxx","185xxxxxxxx","150xxxxxxxx"]		
		};
	$(document).ready(function(){
		$("#table_page").bootstrapTable({
			columns:[{
			 field:'id',
			 title:'编号'
			},
			{
			 field:'name',
			 title:'姓名'
			},
			{
			 field:'age',
			 title:'年龄'
			},
			{
			 field:'address',
			 title:'地址'
			},
			{
			 field:'phone',
			 title:'联系电话'
			}]
		})
	})
	var table = document.getElementById("table_page");
	for (i=0;i<data['编号'].length;i++){
	  var newRow = table.insertRow(); //创建新行
	  
	  var newCell1 = newRow.insertCell();
	  newCell1.innerHTML = "<td><a href='/abc'>"+data['编号'][i]+"</a></td>" ;
	  var newCell2 = newRow.insertCell();
	  newCell2.innerHTML = "<td><a href='/abc'>"+data['姓名'][i]+"</a></td>" ;
	  var newCell3 = newRow.insertCell();
	  newCell3.innerHTML = "<td><a href='/abc'>"+data['年龄'][i]+"</a></td>" ;
	  var newCell4 = newRow.insertCell();
	  newCell4.innerHTML = "<td><a href='/abc'>"+data['地址'][i]+"</a></td>" ;
	  var newCell5 = newRow.insertCell();
	  newCell5.innerHTML = "<td><a href='/abc'>"+data['联系电话'][i]+"</a></td>" ;	  
	}

	
</script>